html, body {
  margin: 0; 
  height: 100%; 
  overflow-x: hidden
}

.main-nav {
  /* background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080); */
  /* background-color: #833471; */
  background: linear-gradient(to right, #ad5389, #3c1053);
}

.carousel__title {
  background: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  word-spacing: 10px;
  box-shadow: 1rem 0 0 rgba(255, 255, 255, 0.8), -1rem 0 0 rgba(255, 255, 255, 0.8);
}

.section__title {
  letter-spacing: 2px;
  word-spacing: 5px
}

.learning-is-fun {
  margin-top: -1rem;
  height: 700px;
  background-attachment: fixed;
  background: url(img/learn-background.jpg);
  background-position: center;
  background-size: cover;
}

.programs__inner {
  background: linear-gradient(to right, #ad5389, #3c1053); 
}

.programs__carousel {
  width: 90%;
}

.programs__card {
  width: 90%;
}

iframe {
  width: 100%;
  height: 320px;
}

.testimonials__background {
  background: url('img/testimonials-background.jpg');
  background-size: cover;
  background-position: center;
}
.testimonials__carousel {
  background: rgba(255, 255, 255, 0.8);
}

.main-footer {
  background: linear-gradient(to right, #ad5389, #3c1053); 
}

@media (max-width: 992px) {
  .video-play__title {
    margin-bottom: 1rem !important;
  }

  .main-footer__container {
    flex-direction: column;
  }  
}

@media (max-width: 576px) {
  .section__title {
    font-size: 2rem; 
    letter-spacing: 0px;
    word-spacing: 2px
  }
}






.gmap {
  height: 500px;
}