/* SHARED */
html, body {
  height: 100%; 
  overflow-x: hidden
}

body {
  font-size: 1.125rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.main-nav {
  background: linear-gradient(to right, #ad5389, #3c1053);
}

.main-footer {
  background: linear-gradient(to right, #ad5389, #3c1053); 
}

.section__title {
  letter-spacing: 2px;
  word-spacing: 5px
}

/* INDEX */
.carousel__item--1 {
  background: url('img/index/main-carousel-1.jpg');
}

.carousel__item--2 {
  background: url('img/index/main-carousel-2.jpg');
}

.carousel__item--3 {
  background: url('img/index/main-carousel-3.jpg');
}

.carousel-item {
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.carousel__title {
  background: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  word-spacing: 10px;
  box-shadow: 1rem 0 0 rgba(255, 255, 255, 0.8), -1rem 0 0 rgba(255, 255, 255, 0.8);
}

.learning-is-fun {
  margin-top: -1rem;
  height: 700px;
  background-attachment: fixed;
  background: url(img/index/learn-background.jpg);
  background-position: center;
  background-size: cover;
}

.programs__inner {
  background: linear-gradient(to right, #ad5389, #3c1053); 
}

.programs__carousel {
  width: 90%;
}

.programs__card {
  width: 90%;
}

iframe {
  width: 100%;
  height: 320px;
}

.testimonials {
  color:  #000;
}

.testimonials__background {
  background: url('img/index/testimonials-background.jpg');
  background-size: cover;
  background-position: center;
}
.testimonials__carousel {
  background: rgba(255, 255, 255, 0.8);
}

/* ILETISIM */
.gmap {
  height: 500px;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .carousel-item {
    height: 60vh;
  }

  .services {
    padding-top: 2rem !important;
  }

  .video-play__title {
    margin-bottom: 1rem !important;
  }

  .main-footer__container {
    flex-direction: column;
  }  
}

@media (max-width: 576px) {

  .carousel-item {
    height: 40vh;
  }

  .services {
    padding-top: 1.5rem !important;
  }

  .section__title {
    font-size: 2rem; 
    letter-spacing: 0px;
    word-spacing: 2px
  }
}

